<div class="input-group input-group-sm w-25">
  <input
    id="username-field"
    type="text"
    class="form-control me-2"
    placeholder="Username"
    aria-label="username"
  />

  <input
    id="password-field"
    type="text"
    class="form-control mx-2"
    placeholder="Password"
    aria-label="password"
  />
  <button
    id="login-button"
    type="submit"
    class="btn btn-primary ms-2"
  >Login</button>
</div>