<div class='container mt-5'>
  <h1>About Bearpress</h1>
  <p>Bearpress is an Express.js app featuring a simple, bare-bones blog platform
    complete with comments and account creation.</p>
  <p>It uses a MySQL database as the backend to store user sessions and posts.</p>
  <p>Visit
    <a href='https://github.com/bear-evans/'>my Github</a>
    for the source code or to see my other projects.</p>
</div>