<div class='container mt-5'>
  <div class='view-header'>
    <h1>{{post.title}}</h1>
    <p class='text-muted'>Created on
      {{post.createdAt}}
      by
      {{post.User.name}}</p>
  </div>
  <div id='#view-content mt-5'>{{post.content}}</div>
</div>