<div class='container mt-5'>
  <div id='view-header'>
    <h1>{{post.title}}</h1>
    <p class='text-muted'>Created on
      {{post.createdAt}}
      by
      {{post.User.name}}</p>
  </div>
  <div id='view-content' class='mt-5'>
    {{post.content}}
  </div>
  <div id='comment-section' class='mt-5'>
    <hr />
    <div id='comment-header'>
      <h2>Comments</h2>
    </div>
    <div id='comment-post'>
      <textarea id='add-comment-body' class='form-control'></textarea>
      <div id='comment-button-container' class='me-auto'>
        <button id='add-comment-button' class='btn btn-primary mt-2'>Submit
          Comment</button>
      </div>
    </div>
    <div id='comment-body'>

    </div>
  </div>
</div>