<div class="container mt-5">
  <div class="mx-auto text-center mb-5">
    <h1>Create Account</h1>
    <p>Create an account to start sharing your thoughts on Bearpress.</p>
  </div>
  <div class="input-group input-group-sm d-flex flex-column w-50 mx-auto">
    <label for="name-signup" class="form-label">Display Name</label>
    <input
      id="name-signup"
      type="text"
      class="form-control my-2 w-100"
      placeholder="Name"
      aria-label="name"
    />

    <label for="email-signup" class="form-label">Email</label>
    <input
      id="email-signup"
      type="text"
      class="form-control my-2 w-100"
      placeholder="Email"
      aria-label="email"
    />

    <label for="name-signup" class="form-label">Password</label>
    <input
      id="password-signup"
      type="text"
      class="form-control my-2 w-100"
      placeholder="Password"
      aria-label="password"
    />

    <label for="name-signup" class="form-label">Re-Enter Password</label>
    <input
      id="password-check-signup"
      type="text"
      class="form-control my-2 w-100"
      placeholder="Re-enter Password"
      aria-label="password check"
    />

    <button
      id="signup-button"
      type="submit"
      class="btn btn-primary mt-3 mx-auto w-25"
    >Sign Up</button>
  </div>
</div>