body {
  background-color: aqua;
}

.login-form {
  max-width: 500px;
}

.hidden {
  display: none;
}

#post-text {
  height: 20em;
}

.post-preview {
  padding: 1em;
  width: 20%;
}

.post-preview a {
  text-decoration: none;
}
