body {
  background-color: aqua;
}

.login-form {
  max-width: 500px;
}

.hidden {
  display: none;
}

#post-text {
  height: 20em;
}

.post-preview a {
  text-decoration: none;
}

.post-list-item a {
  text-decoration: none;
}
